.outer-container {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin: 3px;
  height: 100vh;
}

.thermometer-display {
  flex-grow: 0.3;
}

.even-split {
  flex-grow: 1;
  border-top: 2px solid black;
}

@media screen and (min-width: 500px) {
  .outer-container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 3px;
    height: 100vh;
    width: 500px;
  }
  .place-center {
    display: flex;
    justify-content: center;
  }
}
