.thermometer {
  display: flex;
  justify-content: center;
  color: red;
  align-items: center;
  border-bottom: 1px solid black;
  flex-grow: 2;
}

.header {
  font-size: 3em;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}
