.upDown-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-grow: 0.5;
}

.borderUp {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.borderDown {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
