.container {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid black;
}

.citySelection {
  font-size: x-large;
}

select {
  text-align: center;
  text-align-last: center;
  /* webkit*/
}
